<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Pets</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div id="logobox">
            <a href="/"><img id="logo" src="/static/images/only_pets_logo.png" alt="logo"></a>
        </div>
        <div id="navigationbox">
        {% if session.get('user_id') %}
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/friend/list">Friends</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}

            <p>Welcome to <strong>PetHub</strong> your one stop website for all your pet needs.</p> 
        {% endif %}
        </div>
    </header>
    <main>
        <div id="box">
        {% block content %}
        {% endblock content %}
        </div>
    </main>
</body>
</html>