{% extends "base.html" %}
{% block content %}
<div id="friend_search">
    <div>
    <h1>My Photos</h1>
        <div>
            <form action="/upload/image" method="post">
                <div>
                    <input id="image_url" name="image_url" type="text" placeholder=".jpg .png"/>
                    <label for="image_url">Image URL</label>
                </div>
                <div>
                    <input id="caption" name="caption" type="text" placeholder="caption"/>
                    <label for="caption">Caption</label>
                </div>
                <div>
                    <button type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br>

<div id="gallery">
{% for item in photo_select %}
    <div class="column">
        <a href="/photo?photo_id={{item['post_id']}}"><img src="{{item['image']}}" alt=""></a>
    </div>
{% endfor %}
</div>

{% endblock content %}